In [1]:
import pandas as pd

In [46]:
df = pd.read_csv("PD 2020 Wk 2 Input - Time Inputs.csv")

In [47]:
df.head(100)

      Date     Time
0   1/1/19    01:45
1   1/1/19    08:17
2   1/1/19    08:36
3   1/1/19    10:18
4   1/1/19    11:52
5   1/1/19    14:07
6   1/1/19    16:01
7   1/1/19    16:07
8   1/1/19    16:26
9   1/1/19    08:04
10  1/1/19    18:25
11  1/1/19    19:13
12  1/1/19    21:17
13  1/1/19    22:30
14  1/1/19    22:55
15  1/1/19    23:53
16  1/1/19    19:17
17  1/2/19     719a
18  1/2/19   1152am
19  1/2/19    12:44
20  1/2/19    13:25
21  1/2/19   2;04PM
22  1/2/19    15:08
23  1/2/19    658pm
24  1/2/19     1921
25  1/2/19    20:33
26  1/2/19    20:59
27  1/2/19    22:25
28  1/2/19    23:51
29  1/3/19    09:30
30  1/3/19    09:43
31  1/3/19    00:40
32  1/3/19    16:29
33  1/3/19    16:38
34  1/3/19    516PM
35  1/3/19  613  PM
36  1/3/19    736pm
37  1/3/19    19:29
38  1/3/19    21:00
39  1/3/19    23:18
40  1/4/19    06:11
41  1/4/19    07:25
42  1/4/19    09:25
43  1/4/19    08:35
44  1/4/19    12:41
45  1/4/19  2:51pm,
46  1/4/19    15:48
47  1/4/19    17:11
48  1/5/19    1201a
49  1/5/19    08:57

In [48]:
# current data types
df.dtypes

Date    object
Time    object
dtype: object

In [49]:
# we can see date and time columns are not date/time format

# the output columns are
# 1. Date Time (MM/DD/YYYY HH:MM:SS format)
# 2. Date (MM/DD/YYYY)
# 3. Time (HH:MM:SS format)

In [50]:
import datetime
def object_to_datetime(x):
    date, hour = x[0], x[1].lower()
    check = [[0,1]["p" in hour], [0,1]["a" in hour]]
    hour = "".join(xx for xx in hour if xx.isdigit()) # remove character
    hour = str(int(hour) + check[0]*1200) # account for PM
    hour = "0"*(4-len(hour)) + hour # convert it to 4 lengths
    if check[1] and hour[:2] == "12":
        hour = "00" + hour[2:]
    
    #print(date+" "+hour)
    temp = datetime.datetime.strptime(date+" "+hour, "%m/%d/%y %H%M")
    return temp.strftime("%d/%m/%Y %H:%M:%S")

df["Date Time"] = df.apply(object_to_datetime, axis=1)
df["Date"] = df["Date Time"].apply(lambda x: x.split()[0])
df["Time"] = df["Date Time"].apply(lambda x: x.split()[1][:5].replace("00:", "0:"))

In [51]:
df = df[["Date Time", "Date", "Time"]]

In [52]:
df.head(100)

              Date Time        Date   Time
0   01/01/2019 01:45:00  01/01/2019  01:45
1   01/01/2019 08:17:00  01/01/2019  08:17
2   01/01/2019 08:36:00  01/01/2019  08:36
3   01/01/2019 10:18:00  01/01/2019  10:18
4   01/01/2019 11:52:00  01/01/2019  11:52
5   01/01/2019 14:07:00  01/01/2019  14:07
6   01/01/2019 16:01:00  01/01/2019  16:01
7   01/01/2019 16:07:00  01/01/2019  16:07
8   01/01/2019 16:26:00  01/01/2019  16:26
9   01/01/2019 08:04:00  01/01/2019  08:04
10  01/01/2019 18:25:00  01/01/2019  18:25
11  01/01/2019 19:13:00  01/01/2019  19:13
12  01/01/2019 21:17:00  01/01/2019  21:17
13  01/01/2019 22:30:00  01/01/2019  22:30
14  01/01/2019 22:55:00  01/01/2019  22:55
15  01/01/2019 23:53:00  01/01/2019  23:53
16  01/01/2019 19:17:00  01/01/2019  19:17
17  02/01/2019 07:19:00  02/01/2019  07:19
18  02/01/2019 11:52:00  02/01/2019  11:52
19  02/01/2019 12:44:00  02/01/2019  12:44
20  02/01/2019 13:25:00  02/01/2019  13:25
21  02/01/2019 02:04:00  02/01/2019  02:04
22  02/01/2019 15:08:00  02/01/2019  15:08
23  02/01/2019 18:58:00  02/01/2019  18:58
24  02/01/2019 19:21:00  02/01/2019  19:21
25  02/01/2019 20:33:00  02/01/2019  20:33
26  02/01/2019 20:59:00  02/01/2019  20:59
27  02/01/2019 22:25:00  02/01/2019  22:25
28  02/01/2019 23:51:00  02/01/2019  23:51
29  03/01/2019 09:30:00  03/01/2019  09:30
30  03/01/2019 09:43:00  03/01/2019  09:43
31  03/01/2019 00:40:00  03/01/2019   0:40
32  03/01/2019 16:29:00  03/01/2019  16:29
33  03/01/2019 16:38:00  03/01/2019  16:38
34  03/01/2019 05:16:00  03/01/2019  05:16
35  03/01/2019 06:13:00  03/01/2019  06:13
36  03/01/2019 19:36:00  03/01/2019  19:36
37  03/01/2019 19:29:00  03/01/2019  19:29
38  03/01/2019 21:00:00  03/01/2019  21:00
39  03/01/2019 23:18:00  03/01/2019  23:18
40  04/01/2019 06:11:00  04/01/2019  06:11
41  04/01/2019 07:25:00  04/01/2019  07:25
42  04/01/2019 09:25:00  04/01/2019  09:25
43  04/01/2019 08:35:00  04/01/2019  08:35
44  04/01/2019 12:41:00  04/01/2019  12:41
45  04/01/2019 14:51:00  04/01/2019  14:51
46  04/01/2019 15:48:00  04/01/2019  15:48
47  04/01/2019 17:11:00  04/01/2019  17:11
48  05/01/2019 00:01:00  05/01/2019   0:01
49  05/01/2019 08:57:00  05/01/2019  08:57